h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#166120;
    text-decoration: underline;
}

#logo{
    background-color: #ccffcc;
    text-align:center;
    padding:10px;
    color: white;
}

#registro h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0ffff;
    color: midnightblue;
    padding: 10px;
    font-style: oblique;
}

#registro {
    background-color:#f0ffff ;
    padding: 10px;
}

#nav{
    padding: 10px 20px;
    background-color: darkslategrey;
}

#nav a{
    color: rgb(255, 250, 240);
    text-decoration: underline;
}

#registroDoente {
    background-color:#f0ffff ;
    padding: 10px;
}

#registroDoente h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0ffff;
    color: midnightblue;
    padding: 10px;
    font-style: oblique;
}
